/*Seção quem somos nós*/
main {
    background-color: #264653;
}

.sobre-nos {
    color: white;
    margin: 10px;
}

.quem-somos-nos {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 90px;
    margin-left: 20px;
}

.quem-somos-nos :is(.container-conteudo, .container-imagens) {
    flex: 1;
}

.quem-somos-nos .container-imagens {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(20, 5%);
    justify-self: end;
}

@media (min-width: 1500px) {
    .quem-somos-nos .container-imagens #imagem-maior {
        grid-column: 1 / 9;
        grid-row: 1 / 3;
        }

    .quem-somos-nos .container-imagens #imagem-menor {
        grid-column: 7 / 11;
        grid-row: 11 / 16;
    }
}

@media (max-width: 1500px) {
    .quem-somos-nos .container-imagens #imagem-maior {
        grid-column: 2 / 9;
        grid-row: 1 / 3;
        }

    .quem-somos-nos .container-imagens #imagem-menor {
        grid-column: 5 / 9;
        grid-row: 10 / 14;
    }
}

@media (max-width: 1600px) {
    /* formatação texto Nosso Trabalho */
}

@media (max-width: 1000px) {
    .quem-somos-nos .container-imagens #imagem-maior {
        grid-column: 2 / 9;
        grid-row: 1 / 6;
    }
    
    .quem-somos-nos .container-imagens #imagem-menor {
        grid-column: 3 / 9;
        grid-row: 9 / 12;
    }
}

@media (max-width: 800px) {
    .quem-somos-nos .container-imagens {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .quem-somos-nos .container-imagens * {
        width: calc(50% - 20px);
    }

    .quem-somos-nos {
        flex-direction: column;
    }
}

.sobre-nos h1 {
    font-size: 400%;
    font-weight: bold;
    margin-top: 15px;
}

.sobre-nos p {
    font-size: 1.5rem;
    word-break: normal;
}

@media screen and (max-width: 800px) {
    .sobre-nos h1 {
        font-size: 20px;
    }
    .sobre-nos p {
        font-size: 15px;
    }
}

@media screen and (max-width: 400px) {
    .sobre-nos h1 {
        font-size: 15px;
    }
    .sobre-nos p {
        font-size: 10px;
        word-break: break-all;
    }
}

/*Fim Seção quem somos nós*/


section.nosso-trabalho {
    display: none;
}

@media (max-width: 1400px) {
    section.nosso-trabalho {
        display: block;
    }
    .trabalho {
        display: none;
    }
}