/*Seção quem somos nós*/
* {
    background-color: #264653;
}

.sobre-nos {
    color: white;
    margin: 10px;
}

.quem-somos-nos {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 90px;
}

.quem-somos-nos .container-conteudo {
    flex: 1;
}

.quem-somos-nos .container-imagens {
    display: grid;
    grid-template-columns: repeat(10, 5%);
    grid-template-rows: repeat(20, 5%);
}

.quem-somos-nos .container-imagens #imagem-maior {
    grid-column: 1 / 8;
    grid-row: 4 / 9;
}

.quem-somos-nos .container-imagens #imagem-menor {
    grid-column: 5 / 11;
    grid-row: 14 / 21;
}

.sobre-nos h1 {
    font-size: 600%;
    font-weight: bold;
}

.sobre-nos p {
    font-size: 2rem;
}



/*Fim Seção quem somos nós*/


