body {
    background-color: #e9c46a;
}

.titulo-pagina {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    text-align: center;
}

.deixe-resenha{
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 350;
    text-align: center;
}

.input {
    margin-bottom: 1.5rem;
    background-color: #f9fceb;
}

.resenha {
    background-color: #f9fceb;
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
    width: 100%;
}

.container-inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-resenha-classe{
    width: 400px;
    padding: 0.5rem; 
    border-width: 1px; 
    border-color: #d1d5db;
    box-sizing: border-box; 
}

.autor-resenha-classe{
    width: 400px;
    padding: 0.5rem; 
    border-width: 1px; 
    border-color: #d1d5db; 
    border-radius: 0.25rem; 
    box-sizing: border-box; 
}

.texto-resenha-classe{
    width: 400px;
    padding: 0.5rem; 
    border-width: 1px; 
    border-color: #d1d5db; 
    border-radius: 0.25rem; 
    box-sizing: border-box; 
}

.botao-enviar-resenha {
    display: flex;
    justify-content: center;
}

.botao {
    background-color: #eba743; 
    padding-top: 0.5rem; 
    padding-bottom: 0.5rem;
    padding-left: 1rem; 
    padding-right: 1rem;
    color: #ffffff; 
    border-radius: 0.5rem;
    cursor: pointer; 
    margin-bottom: 1.25rem; 
    transition: background-color 0.2s ease; 
}

.botao:hover {
    background-color: #264653 ;
}

.estilo-card {
    background-color: #f9fceb; 
    border-width: 1px; 
    border-color: #d1d5db; 
    border-style: solid;
    border-radius: 0.25rem; 
    padding: 1rem; 
    margin-bottom: 1rem; 
    position: relative; 
    display: none; 
    width: 100%;
}

.titulo-card {
    font-size: 1.25rem; 
    line-height: 1.75rem; 
    font-weight: 600; 
    margin-top: 0; 
    margin-bottom: 0.5rem; 
}

.autor-card{
    margin-bottom: 1rem;
}

.texto-card {
    margin-bottom: 1rem;
}

.container-externo-card {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.estilo-card-ficticio {
    background-color: #f9fceb; 
    border-width: 1px; 
    border-color: #d1d5db; 
    border-style: solid;
    border-radius: 0.25rem; 
    padding: 1rem;
    margin-bottom: 1rem; 
    position: relative; 
    width: 100%;
}

.titulo-card-ficticio {
    font-size: 1.25rem; 
    line-height: 1.75rem; 
    font-weight: 600; 
    margin-top: 0; 
    margin-bottom: 0.5rem;
}

.autor-card-ficticio {
    margin-bottom: 1rem;
}

.texto-card-ficticio {
    margin-bottom: 1rem;
}

.containerResenhaFicticia, #containerResenha {
    width: 80%;
}